# Port du serveur Express (Backend)
PORT=8080

# Clé secrète pour générer les tokens d'authentification (mettez une longue chaine aléatoire)
JWT_SECRET=super-secret-default-key-change-it-in-production

# Configuration du serveur email (Google SMTP) pour la réinitialisation des mots de passe
# IMPORTANT : SMTP_PASS doit être un "Mot de passe d'application", pas votre vrai mot de passe Gmail !
SMTP_USER=votre.email@gmail.com
SMTP_PASS=votre_mot_de_passe_d_application
